<!DOCTYPE html>
<html>
<h1>About Us</h1>
<div id="myCarousel" class="carousel slide">
	<div class="carousel-inner">
	  <div class="item active">
	    <img src="/Business_card_5.jpg" alt="">
	    <div class="carousel-caption">
	      <h4>First Thumbnail label</h4>
	      <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
	    </div>
	  </div>
	  <div class="item">
	    <img src="/1002428_567225823323614_1239472127_n.jpg" alt="">
	    <div class="carousel-caption">
	      <h4>Second Thumbnail label</h4>
	      <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
	    </div>
	  </div>
	  <div class="item">
	    <img src="/1002972_567225893323607_1897345853_n.jpg" alt="">
	    <div class="carousel-caption">
	      <h4>Third Thumbnail label</h4>
	      <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
	    </div>
	  </div>
	  <div class="item">
	    <img src="/1013914_567225849990278_1840241144_n.jpg" alt="">
	    <div class="carousel-caption">
	      <h4>Third Thumbnail label</h4>
	      <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
	    </div>
	  </div>
	  <div class="item">
	    <img src="/1014346_567227583323438_4178025_n.jpg" alt="">
	    <div class="carousel-caption">
	      <h4>Third Thumbnail label</h4>
	      <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
	    </div>
	  </div>
	  <div class="item">
	    <img src="/bar.JPG" alt="">
	    <div class="carousel-caption">
	      <h4>Third Thumbnail label</h4>
	      <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
	    </div>
	  </div>
	</div>
	<a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
	<a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
	</div>

	<h1>Hamburg Brewing Company</h1>
	<p class="lead">
		The Hamburg Brewing Company is dedicated to crafting great beers. We are determined to further enhance the history and ever-growing beer culture found in the Western New York area by letting our fresh, high quality products speak for themselves.
	</p>

</html>
