<div class="location-box">
	<h1>Hamburg Beers</h1>
<div class="center">
<a href="#"><img src="/Tap1.png" class="beers"/></a><a href="#"><img src="/stout.png" class="beers"/></a><a href="#"><img src="/porter.png" class="beers"/></a><a href="#"><img src="/kellerweis.png" class="beers"/></a>
</div>
<br>
<br>
<div>
	<p>
		The Hamburg Brewing Company is dedicated to crafting great beers. We are determined to further enhance the history and ever-growing beer culture found in the Western New York area by letting our fresh, high quality products speak for themselves.</p>
		
		
</div>
</div>