<div class="location-box">
	<h1>Hamburg Beers</h1>
<div>
	<p>
		The Hamburg Brewing Company is dedicated to crafting great beers. We are determined to further enhance the history and ever-growing beer culture found in the Western New York area by letting our fresh, high quality products speak for themselves.</p>
</div>
<br>
<div>
	<h2><img src="/HBCEmblem.png" style="width: 5%;"/> “White Corner” Wheat  5.3%</h2>
	<p>
		Brewed with a heavy helping of American grown malted wheat, two-row malted barley, and a hint of Meridian and Perle hops. White Corner  Wheat is a refreshingly delicate beer meant to quench your thirst. The name derives from our hometown of Hamburg, which was originally named White’s Corner in the 1800’s. This is Hamburg’s beer.
	</p>
	<h2><img src="/HBCEmblem.png" style="width: 5%;"/> India Pale Ale 6.0%</h2>
	<p>
		This take on the iconic IPA style includes four different types of malted barley creating a unique orange hue. Hops added throughout the brewing process add floral and piney aromas that mingle well with the distinct malty character.
	</p>
	<h2><img src="/HBCEmblem.png" style="width: 5%;"/> “No Lux” 7.0%</h2>
	<p>
		Black as night, “No Lux” has been packed with a wide variety of specialty malts.  Deeply roasted malt, caramel malt, rye, and pale malt are all used to give backbone to the Cascadian, Centennial, and Chinook hops added en masse.  At first sip a low to medium body is noticed followed by a robust roasted character with a hop dominated finish.
	</p>
	<h2><img src="/HBCEmblem.png" style="width: 5%;"/> Oktoberfest  5.7%</h2>
	<p>
		Oktoberfest is the great fall seasonal style.  This lager is brewed primarily with Vienna style malts to bring about big malty flavor. The malty/sweetness starts first then fades away to nice hop bitterness.
	</p>
	<h2><img src="/HBCEmblem.png" style="width: 5%;"/> “Small Town“ Saison 5.2%</h2>
	<p>
		Saison is the traditional Belgian farmhouse beer, first brewed on farm estates primarily for the workers tending to the fields.  This Saison consists of pilsner malt and white wheat malt for a dry, refreshingly lighter beer. The Belgian yeast enjoys a warm fermentation to impart a fruity/spicy undertone so as to give this beer its distinct characteristics.
	</p>
</div>
</div>