<head>
<script type='text/javascript' src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type='text/javascript' src="http://evbdn.eventbrite.com/s3-s3/static/js/platform/Eventbrite.jquery.js"></script>
<script type='text/javascript'>
$(document).ready(function(){
  Eventbrite({'app_key': "UYRU72L7OQUHWLHV7J"}, function(eb){
    eb.organizer_list_events( {'id': 4212334371, 'statuses': "live,started"}, function( response ){
      var event_list_html = eb.utils.eventList( response, eb.utils.eventListRow );
          $("#event-list").html(event_list_html);
    });
  });
});
</script>
<style>
      .eb_event_list_item{
        padding-top: 20px;
        padding-bottom: 20px;
      }
      .eb_event_list_title{
        display:block;
        padding-left: 30px;
        width: 400px;
        overflow: hidden;
        font-size: larger;
      }
      .eb_event_list_date{
        position: absolute;
        left: 30px;
      }
      .eb_event_list_time{
        position: absolute;
        left: 155px;
      }
      .eb_event_list_location{
        position: absolute;
        left: 230px;
      }
      .eb_event_list_description{
        position: absolute;
        left: 230px;
      }
  </style>
</head>
<body>
  <div class="about-box" id="event-list"></div>
</body>