$btnPrimaryBackground: purple;

@import 'bootstrap';
body{
    background-image:url('/wood.jpg');
    background-attachment:fixed;
    background-position:center; 
    padding-top: 0px;
    font-family: helvetica;
    font-color: black;
}

h1 {
  font-family: helvetica;
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 20px;
}

hr {
  color: #418B4B;
}

p {
  font-size: 1.1em;
  line-height: 1.5em;
  font-color: black;
}

@import 'bootstrap-responsive';

.center {
  text-align: center;
}

.footer{
    margin-top: 80px;
    background-color: #273428;
    font-color: #418B4B;
    a{
        color: #418B4B;
    }
}
.footer li {
    display:inline;
    display: table-cell;
    width: 1%;
    float: none;
}

.sidebar{
    margin-top: 5px;
    margin-left: 30px;
    color: $grayLight;
    }
.sidebar-box {
    background-color: rgba(255, 255, 255, 1);
    margin-bottom: 10px;
}

.header-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.navbar .navbar-inner {
        padding: 0;
      }
      .navbar-inner {
  background-color: #EFF1D9; /* background color will be black for all browsers */
  background-image: none;
  background-repeat: no-repeat;
  filter: none;
}
      .navbar .nav {
        margin: 0;
        display: table;
        width: 100%;
      }
      .navbar .nav li {
        display: table-cell;
        width: 1%;
        float: none;
      }
      .navbar .nav li a {
        font-size: 1.4em;
        text-align: center;
        border-left: 1px solid rgba(255,255,255,.75);
        border-right: 1px solid rgba(0,0,0,.1);
      }
      .navbar .nav li:first-child a {
        border-left: 0;
      }
      .navbar .nav li:last-child a {
        border-right: 0;
      }
.about-box {
        background-color: rgba(255, 255, 255, 0.8);
        margin: 5px;
        padding: 5px;
        font-size: 11px;
        line-height: .5cm;
        float: left;
        box-shadow: 1px 1px 10px #444;
        width: 200;
}

.form-box {
        background-color: rgba(255, 255, 255, 0.8);
        margin: 5px;
        padding: 5px;
        font-size: 11px;
        line-height: .5cm;
        box-shadow: 1px 1px 10px #444;
        width: 200;
}

.location-box {
        background-color: rgba(255, 255, 255, 0.8);
        margin: 5px;
        padding: 5px;
        font-size: 14px;
        line-height: .5cm;
        box-shadow: 1px 1px 10px #444;
        width: 300;
}

.beers {
        width:100px;
        padding: 10px;
}

.beers:hover {
        -webkit-transform: scale(1.2,1.2);
        -moz-transform:scale(1.2,1.2);
}

.event_list{
    margin: 10px;
}
.eb_event_list_item{
  padding-top: 20px;
  padding-bottom: 20px;
}
.eb_event_list_title{
  display:block;
  padding-left: 20px;
  width: 400px;
  overflow: hidden;
  font-size: larger;
}
.eb_event_list_date{
  position: absolute;
  left: 80px;
}
.eb_event_list_time{
  position: absolute;
  left: 400px;
}
.eb_event_list_location{
  position: absolute;
  left: 250px;
}
.eb_event_list_location{
  position: absolute;
  left: 250px;
}
.eb_event_list_description{
  position: absolute;
  left: 250px;
}