$btnPrimaryBackground: purple;

@import 'bootstrap';
body{

    background-image:url('/wood.png');
    background-attachment:fixed;
    background-position:center; 
    padding-top: 0px;
}

@import 'bootstrap-responsive';



.footer{
    margin-top: 80px;
    background-color: #EFF1D9;
    a{
        color: $gray;
    }
}

.sidebar{
    margin-top: 20px;
    margin-left: 30px;
    color: $grayLight;
    }

.header-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.navbar .navbar-inner {
        padding: 0;
      }
      .navbar-inner {
  background-color: #EFF1D9; /* background color will be black for all browsers */
  background-image: none;
  background-repeat: no-repeat;
  filter: none;
}
      .navbar .nav {
        margin: 0;
        display: table;
        width: 100%;
      }
      .navbar .nav li {
        display: table-cell;
        width: 1%;
        float: none;
      }
      .navbar .nav li a {
        font-weight: bold;
        text-align: center;
        border-left: 1px solid rgba(255,255,255,.75);
        border-right: 1px solid rgba(0,0,0,.1);
      }
      .navbar .nav li:first-child a {
        border-left: 0;
        border-radius: 3px 0 0 3px;
      }
      .navbar .nav li:last-child a {
        border-right: 0;
        border-radius: 0 3px 3px 0;
      }
.about-box {
        background-color: white;
        margin: 5px;
        padding: 5px;
        font-size: 11px;
        line-height: .5cm;
        float: left;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        box-shadow: 1px 1px 10px #444;
        width: 200;
}

.form-box {
        background-color: white;
        margin: 5px;
        padding: 5px;
        font-size: 11px;
        line-height: .5cm;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        box-shadow: 1px 1px 10px #444;
        width: 200;
}

.location-box {
        background-color: white;
        margin: 5px;
        padding: 5px;
        font-size: 14px;
        line-height: .5cm;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        box-shadow: 1px 1px 10px #444;
        width: 300;
}

.location-box {
        background-color: white;
        margin: 5px;
        padding: 5px;
        font-size: 14px;
        line-height: .5cm;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        box-shadow: 1px 1px 10px #444;
        width: 300;
}

.event_list{
    margin: 10px;
}
.eb_event_list_item{
  padding-top: 20px;
  padding-bottom: 20px;
}
.eb_event_list_title{
  display:block;
  padding-left: 20px;
  width: 400px;
  overflow: hidden;
  font-size: larger;
}
.eb_event_list_date{
  position: absolute;
  left: 80px;
}
.eb_event_list_time{
  position: absolute;
  left: 400px;
}
.eb_event_list_location{
  position: absolute;
  left: 250px;
}
.eb_event_list_location{
  position: absolute;
  left: 250px;
}
.eb_event_list_description{
  position: absolute;
  left: 250px;
}