<div class="footer">
  <div class="container">
  <hr>	
<div class="row-fluid">
				<div class="span12">
					<div class="span4">
						<ul class="unstyled">
							<li>Connect<li>
							<li><a href="https://www.facebook.com/pages/Hamburg-Brewing-Company/496661553713375" target="blank"><img src="/facebook.png" style="width: 10%;"/>  /HamburgBrewingCompany</a></li>
							<li><a href="https://twitter.com/HamburgBrewing" target="blank"><img src="/twitter.png" style="width: 10%;"/>  @hamburgbrewing</a></li>
							<li><a href="#"><img src="/untappd-icon.png" style="width: 10%;"/>  Untappd</a></li>
							<li><a href="http://www.eventbrite.com/org/4212334371" target="blank"><img src="/eventbrite-logo.gif" style="width: 10%;"/>  HBC Events</a></li>
						</ul>
					</div>
					<div class="span2" style="width: 15%;">
						<ul class="unstyled">
							<li>Our Story<li>
							<li><a href="#">About HBC</a></li>
							<li><a href="#">The Farm</a></li>
						</ul>
					</div>
					<div class="span2" style="width: 15%;">
						<ul class="unstyled">
							<li>Services<li>
							<li><a href="#">Web analytics</a></li>
							<li><a href="#">Presentations</a></li>
							<li><a href="#">Code snippets</a></li>
							<li><a href="#">Job board</a></li>							
						</ul>
					</div>
					<div class="span2" style="width: 15%;">
						<ul class="unstyled">
							<li>Documentation<li>
							<li><a href="#">Product Help</a></li>
							<li><a href="#">Developer API</a></li>
							<li><a href="#">Product Markdown</a></li>
							<li><a href="#">Product Pages</a></li>							
						</ul>
					</div>					
				</div>
			</div>
			<hr>
			<div class="row-fluid">
				<div class="span12">
					<div class="span4">
						<p class="muted pull-left">Designed by <a href="http://www.vergetone.com/" target="blank">Vergetone</a></p>
					</div>
					<div class="span6 pull-right">
						<p class="muted pull-right">© 2013 Hamburg Brewing Company</p>
					</div>
				</div>
			</div>
  </div>
</div>