<div class="container">
  <a href="/"><img src="/HBCHeader.png" width="100%" class="header-image"/></a>
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <ul class="nav">
          <li><a href="/beers"><img src="/HBCEmblem.png" width="15%"/> Beers</a></li>
          <li><a href="/about"><img src="/HBCEmblem.png" width="15%"/> About</a></li>
          <li><a href="/locations"><img src="/HBCEmblem.png" width="15%"/> Beer Finder</a></li>
          <li><a href="/events"><img src="/HBCEmblem.png" width="15%"/> Events</a></li>
        </ul>
      </div>
    </div>  
  </div><!-- /.navbar -->
</div>
