<div class="container">
  <a href="/"><img src="/HBCHeader.png" width="100%" class="header-image"/></a>
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <ul class="nav">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/locations">Beer Finder</a></li>
          <li><a href="/events">Events</a></li>
        </ul>
      </div>
    </div>  
  </div><!-- /.navbar -->
</div>
