<script>
$(document).scroll(function () {
    var value = $(this).scrollTop();
    if ( value > 120 ) {
        $('.topMenu').fadeIn();
    } else {
        $('.topMenu').fadeOut();
    }

});
</script>

<div class="topMenu container">
  <div class="container">
<span class="logo"><a href="/"><img src="/HBCEmblem.png" width="5%"/></a></span>  
<ul>
  <li><a href="/beers">BEERS</a></li>
  <li>|</li>
  <li><a href="/about">ABOUT</a></li>
  <li>|</li>
  <li><a href="/locations">BEER FINDER</a></li>
  <li>|</li>
  <li><a href="/events">EVENTS</a></li>
</ul>
</div>
</div>


<header>
  <ul class="nav-left">
    <li><a href="/beers">BEERS</a></li>
    <li2>|</li2>
    <li><a href="/about">ABOUT</a></li>
    <li2>|</li2>
  </ul>
  <span class="logo"><a href="/"><img src="/HeaderLogo.png" width="25%"/></a></span>
  <ul class="nav-right">
    <li3>|</li3>
    <li3><a href="/locations">BEER FINDER</a></li3>
    <li3>|</li3>
    <li3><a href="/events">EVENTS</a></li3>
  </ul>
</header>