
<div style="width:195px; text-align:center;" class="sidebar-box" ><p class="lead">HBC Events</p><iframe  src="http://www.eventbrite.com/calendar-widget?eid=7147820323" frameborder="0" height="383" width="195" marginheight="0" marginwidth="0" scrolling="no" allowtransparency="true"></iframe><div style="font-family:Helvetica, Arial; font-size:10px; padding:5px 0 5px; margin:2px; width:195px; text-align:center;" ></div></div>

<a class="twitter-timeline" href="https://twitter.com/HamburgBrewing" data-widget-id="355482650628222976">Tweets by @HamburgBrewing</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>



